# Ignore IntelliJ IDEA project files and folders
.idea/
*.iml
# Ignore IntelliJ-specific workspace files
*.iws
# Ignore IntelliJ out directory
/out/
# Ignore logs and other system files
*.log

# Ignore Composer vendors and lock files in packages directory
packages/**/composer.lock
packages/**/vendor/

# Ignore main Composer vendor directory
/vendor

# Ignore tools vendor directories
/tools/**/vendor/

# PHPUnit
/.phpunit.cache
phpunit.xml

# PHP-CS-Fixer
.php-cs-fixer.cache
