name: Update package repositories

on:
  push:
    branches:
      - main
    tags:
      - '*'
env:
  GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}

jobs:
  list_packages:
    runs-on: ubuntu-latest
    outputs:
      packages: ${{ steps.set-packages.outputs.packages }}
    steps:
      - uses: actions/checkout@v4
      - id: set-packages
        run: |
          PACKAGES=$(ls -1 packages | jq -R -s -c 'split("\n")[:-1]')
          echo "packages=$PACKAGES" >> $GITHUB_OUTPUT

  publish:
    runs-on: ubuntu-latest
    needs: list_packages
    if: github.repository_owner == 'php-addition-repository'
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.list_packages.outputs.packages) }}

    name: Publish ${{ matrix.package }}

    steps:
      - uses: actions/checkout@v4

      # no tag
      - if: "!startsWith(github.ref, 'refs/tags/')"
        uses: danharrin/monorepo-split-github-action@v2.4.0
        with:
          # ↓ split "packages/easy-coding-standard" directory
          package_directory: 'packages/${{ matrix.package }}'

          # ↓ into https://github.com/symplify/easy-coding-standard repository
          repository_organization: 'php-addition-repository'
          repository_name: '${{ matrix.package }}'

          # ↓ the user signed under the split commit
          user_name: "alexbrouwer"
          user_email: "brouwer.alexander@gmail.com"

      # with tag
      - if: "startsWith(github.ref, 'refs/tags/')"
        uses: danharrin/monorepo-split-github-action@v2.4.0
        with:
          tag: ${GITHUB_REF#refs/tags/}

          # ↓ split "packages/easy-coding-standard" directory
          package_directory: 'packages/${{ matrix.package }}'

          # ↓ into https://github.com/symplify/easy-coding-standard repository
          repository_organization: 'php-addition-repository'
          repository_name: '${{ matrix.package }}'

          # ↓ the user signed under the split commit
          user_name: "alexbrouwer"
          user_email: "brouwer.alexander@gmail.com"
